#main{
    overflow-x: hidden;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page2{
    height: 110vh;
    width: 100%;
    background-color: rgb(3, 36, 46);
    padding:20px 0 ;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 62, 70);
}

#page2 h1{
    font-size:40vw;
    text-transform: uppercase;
    /* transform: translateX(-210%); */
}

.my-element {
    background-color: #f0f0f0;
    padding: 50px;
    margin: 200px 0; /* Add some margin for scrolling */
    text-align: center;
  }
  .box {
    transition: all 0.3s ease;
  }
  